@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Fredoka:wght@500&family=Inter:wght@300&family=Oi&family=Pompiere&family=Poppins:wght@100;300;500&family=Quicksand:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}
.nav{
    padding:2vw;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.668);
} 
.back button{
    width:8vw;
    height: 5vh;
    font-family: 'Anton';
    font-size: 25px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid rgb(255, 135, 135);
    cursor: pointer;
}
.back button:hover{
    border:2px solid rgb(255, 63, 82);
    background-color: pink;
    font-size: 27px;
}
.back button:active{
    background-color: rgb(253, 137, 156);
}
.icons{
    width:23vw;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-left:73vw;
    margin-top:-2vw;
    font-size: 28px;
    font-family: 'Abel' sans-serif;  
    cursor: pointer;
}
.underline{
    color:black;
    text-decoration: underline;
    text-decoration-color: white;
}
.major{
    background: url("https://static.vecteezy.com/system/resources/previews/000/616/846/original/vector-watercolor-hearts-seamless-pattern-repeating-valentines-day-background-with-painted-red-hearts-romantic-textile-wrapping-paper-wallpaper-or-scrapbooking-texture.jpg");
    background-size: cover;
    height:87vh;
    margin-top: -2.6vw;
}
.main{
    width: 50vw;
    margin: 3vw 0vw 0vw 22vw;
    padding:3vw;
    text-align: center;
}
.main h1{
    font-size: 70px;
    font-family: 'Poppins';
    font-weight: 600;
    text-shadow: 3px 4px rgb(255, 134, 134);
}
.main p{
    font-size:30px;
    margin:1vw 1vw 0.60vw 1vw;
}
.years{
    padding:1vw;
   display: grid;
   grid-column: auto;
   row-gap:20px;
}
.years button{
    width:10vw;
    height:7vh;
    border:none;
    font-size: 22px;
    font-family: "Abel";
    background-color: rgba(251, 190, 201, 0.738);
    cursor: pointer;
}
.left{
    border-radius: 2vw 0vw 2vw 0vw;
}
.right{
    border-radius: 0vw 2vw 0vw 2vw;
}

.left:hover{
    border: 4px solid rgb(255, 121, 143);
    border-radius: 0vw 2vw 2vw 0vw ;
}
.right:hover{
    border: 4px solid rgb(255, 121, 143);
    border-radius: 2vw 0vw 0vw 2vw ;
}
